.toolbar {
  background: #13bde2;
}

.toolbar-button {
  color: white;
}

.toolbar__center {
  color: white;
}

.product-icon {
  width: 40px;
  height: 40px; 
  border-radius: 6px;
  background-color: rgb(148, 168, 189);
}

.icon {
  color: rgb(148, 168, 189);
}

.badge-position {
  position: absolute;
  right: 25px;
  top: 4px;
}

.notification.badgeToolbar.product-count {
  background: #13bde2;
}

.modal {
  background-color: #13bde2;
}

.modal__content {
  vertical-align: top;
}
