<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-onsenui"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <link rel="stylesheet" href="app.css">
</head>


<body>
  <ons-page id="app">
    <div class="toolbar">
      <div class="toolbar__left">
        <span class="toolbar-button">
          <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i>
        </span>
      </div>

      <div class="toolbar__center">
        <img src="img/shoppers.png" height="28" style="vertical-align: middle;"></img> 
      </div>

      <div class="toolbar__right">
        <span class="toolbar-button">
          <ons-icon @click="checkOut" icon="fa-shopping-cart" size="23px"></ons-icon>
        </span>
        <span v-if="cartHasProducts" class="notification badgeToolbar badge-position">{{ totalCountInTheCart }}</span>
      </div>
    </div>

    <ons-list-item class="list__item" v-for="prod in products" :key="prod.id">
      <div class="left list__item__left">
        <!-- <div class="product-icon"></div> -->
        <ons-icon v-bind:icon="prod.icon" size="28px"></ons-icon>
      </div>
      <div class="center list__item__center">
        <span class="list-item__title">{{ prod.name }}</span>
        <span class="list-item__subtitle">{{ prod.price }} Gold</span>
      </div>
      <div class="right list__item__right">
        <span class="toolbar-button">
          <ons-icon class="icon" icon="fa-plus" @click="addCart(prod.id)"></ons-icon>
        </span>
        <span class="notification badgeToolbar product-count">{{ countInTheCartById(prod.id) }}</span>
        <span class="toolbar-button">
          <ons-icon class="icon" icon="fa-minus" @click="delCart(prod.id)"></ons-icon>
        </span>
      </div>
    </ons-list-item>

    <!-- <v-ons-modal :visible="modalVisible" @click="modalVisible = false"> -->
    <v-ons-modal :visible="modalVisible">


    <div class="toolbar">
      <div class="toolbar__left" @click="modalVisible = false">
        <span class="toolbar-button">
        <ons-icon icon="close" size="32px"></ons-icon>
          <!-- <i class="ion-navicon" style="font-size:32px; vertical-align:-6px;"></i> -->
        </span>
      </div>

      <div class="toolbar__center">
        <img src="img/shoppers.png" height="28" style="vertical-align: middle;"></img> 
      </div>

      <div class="toolbar__right">
        <span class="toolbar-button">
        </span>
        <span v-if="cartHasProducts" class="notification badgeToolbar badge-position">{{ totalCountInTheCart }}</span>
      </div>
    </div>

    
    <div style="margin: 10% 0">
    <ons-list-item class="list__item" v-for="prod in products" :key="prod.id">
      <div class="left list__item__left">
        <ons-icon v-bind:icon="prod.icon" size="28px"></ons-icon>
      </div>
      <div class="center list__item__center">
        <span class="list-item__title">{{ prod.name }}</span>
      </div>
      <div class="right list__item__right">
        <span class="list-item__subtitle">{{ prod.price }} Gold</span>
      </div>
    </ons-list-item>
    </div>

    <v-ons-button modifier="Large" style="margin: 50px 0">Check out</v-ons-button>

    </v-ons-modal>

  </ons-page>
</body>

<script>
Vue.use(VueOnsen);
var vm = new Vue({
  el: '#app',
  data() {
    return {
      modalVisible: false,
      products: [ 
        { id: 1, name: "Adventures Success Book", price: "20", icon: "fa-book" },
        { id: 2, name: "Beer", price: "5", icon: "fa-beer" },
        { id: 3, name: "Gem", price: "800", icon: "fa-gem" },
        { id: 4, name: "Compass", price: "800", icon: "fa-compass" },
        { id: 5, name: "Map", price: "800", icon: "fa-map" },
        { id: 6, name: "Broom", price: "50", icon: "fa-broom" }
      ],
      cart: []
    };
  },
  computed: {
    totalCountInTheCart: function () {
      return this.cart.length
    },
    cartHasProducts: function () {
      return (this.cart.length === 0) ? false : true;
    }
  },
  methods: {
    addCart: function (id) {
      var selectedProdct = this.products.find((prod) => {
        return (prod.id === id);
      });
      this.cart.push(selectedProdct)
      console.log(JSON.stringify(selectedProdct) + " is selected")
      console.log("Your cart has " + JSON.stringify(this.cart))
    }, 
    delCart: function (id) {
      this.cart.some (function(element, i) {
        if (element.id == id) {
          vm.cart.splice(i, 1)
          return true
        }
      });
    },
    countInTheCartById: function(productId) {
      filtered = this.cart.filter(function(product) {
        return (product.id == productId);
      });
      return filtered.length
    },
    checkOut() {
      this.modalVisible = true
    }
  }
});
</script>


